@media (max-width: 900px) {
  body header {
    position: relative;
  }
  body header h1 {
    font-size: 12pt;
  }
  .main-nav {
    display: none;
  }
  .main-tail {
    background: none !important;
    height: 87px !important;
  }
  body .projects .project .text {
    font-size: 14pt !important;
    min-height: 100px !important;
  }
}
