@import url('https://fonts.googleapis.com/css?family=Yeseva+One');
@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster-Regular.ttf");
}
* {
  mrgin: 0;
  padding: 0;
}
body {
  background: #dddddd;
}
body .box {
  width: 100%;
  min-height: 100%;
}
body header {
  background: #0c7802;
  border-bottom: 2px solid #000000;
  z-index: 1000;
  position: fixed !important;
}
body header h1 {
  font: italic 35pt 'Lobster', sans-serif;
  padding: 0 10px 10px 10px;
  color: #ffffff;
}
body header p {
  position: absolute;
  top: 70px;
  left: 155px;
  font: italic 12pt 'arial';
  color: #dddddd;
}
body .main-nav {
  list-style: none;
  margin-top: 35px;
  float: right;
  font: bold 12pt 'arial';
}
body .main-nav li {
  float: left;
  padding: 10px;
}
body .main-nav li a {
  text-decoration: none;
  color: #ffffff;
}
body .main-nav li :hover {
  color: #292add;
}
body .main-nav li :active {
  color: #dddc29;
}
body .main-tail {
  width: 100%;
  background: #11aa03;
  background: url("../image/mainTail.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body .statement {
  text-align: center;
  top: 170px;
  font-family: 'arial';
  font-weight: bold;
  color: white;
  position: absolute;
  text-shadow: 0px 0px 20px #000000;
}
body .clear {
  clear: both;
}
body section {
  width: 100%;
}
body section .about {
  margin-top: -250px;
  background: #ffffff;
  min-height: 500px;
  box-shadow: 0px 0px 36px 0px #021400;
}
body section .about .inline {
  border-bottom: 1px solid #000000;
}
body section .about img {
  width: 100%;
  margin-top: 20px;
}
body section .about p {
  margin-top: 20px;
  font-size: 15pt;
}
body .katchestva {
  height: 350px;
  background: #000000;
  margin-top: 10px;
  background: url("../image/kat.jpg") no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
body .katchestva .inline h1 {
  color: #000000;
  border-bottom: 1px solid #000000;
}
